In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.linalg import norm

In [2]:
text1 = 'Julie loves John more than Linda loves John'
text2 = 'Jane loves John more than Julie loves John'
text1_arr = text1.split(' ')
text2_arr = text2.split(' ')

In [3]:
all_vocabs = np.array(list(set(text1_arr+text2_arr)))
all_vocabs

array(['Linda', 'more', 'Jane', 'than', 'loves', 'John', 'Julie'],
      dtype='<U5')

In [19]:
df_vocabs = pd.DataFrame(all_vocabs, columns=['vocab'])
df_vocabs

   vocab
0  Linda
1   more
2   Jane
3   than
4  loves
5   John
6  Julie

In [20]:
df_text1 = pd.DataFrame(np.unique(text1_arr, return_counts = True)).T
df_text2 = pd.DataFrame(np.unique(text2_arr, return_counts = True)).T

df_text1 = df_text1.rename(columns={0: "vocab_text1", 1: "cnt_text1"})
df_text2 = df_text2.rename(columns={0: "vocab_text2", 1: "cnt_text2"})

In [21]:
df_vocabs = df_vocabs.merge(df_text1, left_on='vocab', right_on='vocab_text1', how='outer')
df_vocabs = df_vocabs.merge(df_text2, left_on='vocab', right_on='vocab_text2', how='outer')
df_vocabs = df_vocabs.fillna(0)
df_vocabs = df_vocabs[['vocab', 'cnt_text1', 'cnt_text2']]
df_vocabs.sort_values(by='vocab')

   vocab  cnt_text1  cnt_text2
2   Jane          0          1
5   John          2          2
6  Julie          1          1
0  Linda          1          0
4  loves          2          2
1   more          1          1
3   than          1          1

### Cosine similarity

In [11]:
df_vocabs['cnt_text1'].dot(df_vocabs['cnt_text2'])/(norm(df_vocabs['cnt_text1'])*norm(df_vocabs['cnt_text2']))

0.9166666666666669