In [1]:
#Cell_1. 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('sample_5.csv',sep=',')
df.head()

   Time  Score
0   6.0     20
1   6.5     26
2   6.2     44
3   7.5     40
4   8.0     51

In [14]:
#Cell_2. 
y = df[['Score']]
X = df[['Time']]

In [15]:
#Cell_3.

import statsmodels.api as sm

# Fit and summarize OLS model
mod = sm.OLS(y, sm.add_constant(X))
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Score   R-squared:                       0.736
Model:                            OLS   Adj. R-squared:                  0.707
Method:                 Least Squares   F-statistic:                     25.11
Date:                Tue, 01 Jun 2021   Prob (F-statistic):           0.000728
Time:                        01:04:11   Log-Likelihood:                -43.489
No. Observations:                  11   AIC:                             90.98
Df Residuals:                       9   BIC:                             91.77
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         27.4685      7.462      3.681      0.005      10.588      44.349
Time           2.2256      0.444      5.011      0.001       1.221       3.230
==============================================================================
Omnibus:                        3.666   Durbin-Watson:                   1.419
Prob(Omnibus):                  0.160   Jarque-Bera (JB):                1.022
Skew:                           0.637   Prob(JB):                        0.600
Kurtosis:                       3.779   Cond. No.                         29.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\maidu\.conda\envs\tf\lib\site-packages\scipy\stats\stats.py:1534: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=11
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [16]:
res.params

const    27.468465
Time      2.225585
dtype: float64