### AI-03 Quiz

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Parameters

In [2]:
csv_in = 'ai-03-quiz.csv'

#### Read CSV file

In [8]:
df = pd.read_csv(csv_in, skiprows= 1)


df.head()

  Team     Pref   Time
0    A  Saitama  176.2
1    A  Saitama  179.1
2    C    Chiba  180.0
3    A    Tokyo  176.5
4    A    Tokyo  179.7

In [10]:
df.groupby(["Pref"]).count()

          Team  Time
Pref
Chiba       12    12
Kanagawa    14    14
Saitama     15    15
Tokyo       19    19

In [15]:
df[df["Pref"]== "Chiba"].count()["Team"]

12

In [18]:
round(df["Time"].mean(),1)

179.9

In [20]:
df.groupby(["Pref","Team"]).mean()

                     Time
Pref     Team
Chiba    A     180.875000
         B     180.900000
         C     182.140000
Kanagawa A     179.600000
         B     178.757143
         C     180.366667
Saitama  A     178.500000
         B     179.571429
         C     180.250000
Tokyo    A     179.583333
         B     181.525000
         C     179.766667

In [23]:
df.groupby(["Pref","Team"]).mean()

                     Time
Pref     Team
Chiba    A     180.875000
         B     180.900000
         C     182.140000
Kanagawa A     179.600000
         B     178.757143
         C     180.366667
Saitama  A     178.500000
         B     179.571429
         C     180.250000
Tokyo    A     179.583333
         B     181.525000
         C     179.766667

In [27]:
df_BTeam_Kanagawa = df.groupby(["Pref","Team"]).mean()
df_BTeam_Kanagawa[df_BTeam_Kanagawa["Team"]=="B"]

KeyError: 'Team'