In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [18]:
df = pd.read_csv('name_gender_dataset.csv')
df = df.sample(frac=1) #shuffle
df = df[:10000]##using only the top 10000 otherwise we got overflow
print(df.shape)
print(df.info())
display(df.head())

(10000, 4)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 76232 to 52213
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         10000 non-null  object
 1   Gender       10000 non-null  object
 2   Count        10000 non-null  int64
 3   Probability  10000 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 390.6+ KB
None

                Name Gender  Count   Probability
76232      Rosaleena      F     15  4.105110e-08
139181   Jayden-John      M      1  2.736740e-09
97319   Blancaestela      F      5  1.368370e-08
22460          Avrey      F    349  9.551230e-07
5477         Talisha      F   3133  8.574210e-06

In [19]:
df_train = df[:7000]
df_test = df[7000:]

X_train = df_train['Name']
y_train = df_train['Gender']
print(X_train.shape, y_train.shape)

X_test = df_test['Name']
y_test = df_test['Gender']
print(X_test.shape, y_test.shape)

(7000,) (7000,)
(3000,) (3000,)

In [20]:
vectorizer = CountVectorizer()
vectorizer.fit(X_train)
vocab = vectorizer. get_feature_names()
print('Vocabulary size:', len(vocab))
#print(vocab)

Vocabulary size: 7054

In [21]:
X_train_bow = vectorizer.transform(X_train)
X_test_bow = vectorizer.transform(X_test)
print('X_train_bow:')
print(repr(X_train_bow))
print('X_test_bow:')
print(repr(X_test_bow))

X_train_bow:
<7000x7054 sparse matrix of type '<class 'numpy.int64'>'
	with 7352 stored elements in Compressed Sparse Row format>
X_test_bow:
<3000x7054 sparse matrix of type '<class 'numpy.int64'>'
	with 201 stored elements in Compressed Sparse Row format>

In [22]:
Xbow = pd.DataFrame(X_train_bow.toarray(), 
                    index=y_train, columns=vocab)
display(Xbow)

,aaban,aabish,aaden,aadhavan,aadhya,aadyaa,aafiya,aahlia,aaiden,aakristy,...,zydia,zyian,zykierra,zylpha,zymeir,zynia,zyonna,zyrek,zyshon,zytavious
Gender,,,,,,,,,,,,,,,,,,,,,
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
model = MultinomialNB(alpha=1.0)
model.fit(X_train_bow, y_train)
print(model.classes_)

['F' 'M']

In [24]:
train_score = model.score(X_train_bow, y_train)
print('Train accuracy:', train_score)

Train accuracy: 0.9927142857142857

In [25]:
# Obtain each prediction  
y_test_pred = model.predict(X_test_bow)
df_pred = pd.DataFrame({
            'pred': y_test_pred,
            'true': y_test
          }).reset_index(drop=True)
display(df_pred.head())

  pred true
0    F    F
1    F    F
2    F    F
3    F    M
4    F    M

In [28]:
proba = model.predict_proba(X_test_bow)
results = pd.DataFrame(proba, columns=model.classes_)
print('Prediction:')
display(results)
print(model.predict(X_test_bow))

Prediction:

             F         M
0     0.612857  0.387143
1     0.612857  0.387143
2     0.612857  0.387143
3     0.612857  0.387143
4     0.612857  0.387143
...        ...       ...
2995  0.612857  0.387143
2996  0.612857  0.387143
2997  0.612857  0.387143
2998  0.612857  0.387143
2999  0.612857  0.387143

[3000 rows x 2 columns]

['F' 'F' 'F' ... 'F' 'F' 'F']

In [30]:
print(proba)

[[0.61285714 0.38714286]
 [0.61285714 0.38714286]
 [0.61285714 0.38714286]
 ...
 [0.61285714 0.38714286]
 [0.61285714 0.38714286]
 [0.61285714 0.38714286]]