### AI-04 quiz

#### 1. 95% confidence interval for cornflakes.csv

#### import libraries

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

#### Parameters

In [2]:
csv_in = 'cornflakes.csv'

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=1, header=0)
print(df.shape)
print(df.info())
display(df.head())

(50, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  50 non-null     float64
dtypes: float64(1)
memory usage: 528.0 bytes
None

   Weight
0   201.7
1   199.5
2   200.0
3   200.4
4   199.2

#### Calculate confidence interval for x directly using t.interval()

In [4]:
alpha = 0.95
x = df['Weight']
n = df.shape[0]
ave = np.mean(x)
se = ss.sem(x)

lower, upper = ss.t.interval(alpha, loc=ave, scale=se, df=n-1)
print(lower, upper)

199.59035907634333 200.2176409236566

##### Ans. [199.6 g, 200.2 g]

#### 2. #Samples needed for pierced-ear rate

In [5]:
p = 0.5
CI = 0.035 * 2
N_min = (2 * 1.96 / CI)**2 * p * (1-p)
print(N_min)

783.9999999999998

##### Ans. 784 people needed