In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss
csv_in = 'insects.csv'

In [2]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=1, header=0)
print(df.shape)
print(df.info())
display(df.head())

(30, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  30 non-null     float64
dtypes: float64(1)
memory usage: 368.0 bytes
None

   Height
0    32.2
1    28.3
2    42.2
3    28.7
4    30.5

In [3]:
alpha = 0.95
x = df['Height']
n = df.shape[0]
ave = np.mean(x)
se = ss.sem(x)

lower, upper = ss.t.interval(alpha, loc=ave, scale=se, df=n-1)
print(lower, upper)

28.046217546830142 31.660449119836528