### dm-12-quiz

#### Import libraries

In [7]:
import pandas as pd
import pyfpgrowth  # https://fp-growth.readthedocs.io/en/latest/
import numpy as np

#### Parameters

In [8]:
csv_in = 'dm-12-quiz.csv'

#### Read CSV file

In [9]:
df = pd.read_csv(csv_in)
df

    InvoiceNo  ItemNo
0        T001       5
1        T001       4
2        T001       6
3        T002       2
4        T003       2
..        ...     ...
313      T148       2
314      T149       4
315      T150       1
316      T150       2
317      T150       4

[318 rows x 2 columns]

In [10]:
df = df.replace(np.nan, '00nan')
display(df.head())

  InvoiceNo  ItemNo
0      T001       5
1      T001       4
2      T001       6
3      T002       2
4      T003       2

In [11]:
ser_items = pd.Series(df.values.flatten())
top_items = ser_items.value_counts()
print(top_items.head())

2    74
3    60
4    48
1    47
6    37
dtype: int64

In [12]:
id2item = sorted(list(set(df.values.flatten())))  # sort to fix order of items
print(len(id2item))  # debug
print(id2item[:5])  # debug
item2id = {}
for i in range(len(id2item)):
    item2id[id2item[i]] = i

TypeError: '<' not supported between instances of 'str' and 'int'