### DM-03 Practice 1

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as ss

#### 1

In [7]:
df1 = pd.read_csv('shop_sales.csv')
print(df1.info())
print(df1.shape)
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ShopID  200 non-null    int64
 1   Pref    200 non-null    object
 2   Type    200 non-null    object
 3   Sales1  200 non-null    int64
 4   Sales2  200 non-null    int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB
None
(200, 5)

   ShopID      Pref       Type  Sales1  Sales2
0     101   Saitama  franchise     108     110
1     102   Saitama     direct      94     108
2     103     Tokyo     direct     103      89
3     104   Saitama  franchise      99     122
4     105  Kanagawa  franchise     113     109

In [23]:
df1_Sales1 = df1['Sales1']
df1_Sales2 = df1['Sales2']
print("Sales 1 mean", df1_Sales1.mean())
print("Sales 2 mean", df1_Sales2.mean())
t, p = ss.ttest_ind(df1_Sales1, df1_Sales2, equal_var=False)
print(t, p/2)

Sales 1 mean 99.35
Sales 2 mean 110.315
-8.846777985130515 2.5013356618499074e-17

#### 2

In [40]:
df1_Sales2_Tokyo = df1[df1['Pref'] == 'Tokyo']['Sales2']
df1_Sales2_Chiba = df1[df1['Pref'] == 'Chiba']['Sales2']
print("Sales 2 Tokyo mean", df1_Sales2_Tokyo.mean())
print("Sales 2 Chiba mean", df1_Sales2_Chiba.mean())
t, p = ss.ttest_ind(df1_Sales2_Tokyo, df1_Sales2_Chiba, equal_var=False)
print(t, p/2)

Sales 2 Tokyo mean 111.38461538461539
Sales 2 Chiba mean 111.42857142857143
-0.014203050540638733 0.49435385569359597

#### 3

In [41]:
cross_tab = pd.crosstab(df1['Pref'], df1['Type'])
display(cross_tab)

Type      direct  franchise
Pref
Chiba         13         15
Kanagawa      28         30
Saitama       24         25
Tokyo         34         31

In [42]:
chi2, p, dof, expected = ss.chi2_contingency(cross_tab)
print(chi2, p, dof)
print(expected)

0.35072743456882416 0.9502219446727902 3
[[13.86  14.14 ]
 [28.71  29.29 ]
 [24.255 24.745]
 [32.175 32.825]]