## Create simple plot with Pandas

### Import libraries

In [1]:
import pandas as pd

### Parameters

In [7]:
csv_in1 = '../../AI/ai-0102/1393_2017-utf8.csv'

### Read CSV file

In [8]:
df1 = pd.read_csv(csv_in1, delimiter=',', skiprows=9, header=0)
df1['Date']=pd.to_datetime(df1['Date'], format="%Y-%m-%d")
print(df1.shape)
print(df1.info())
display(df1.head())

(139, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      139 non-null    datetime64[ns]
 1   Open      139 non-null    int64
 2   High      139 non-null    int64
 3   Low       139 non-null    int64
 4   Close     139 non-null    int64
 5   Vol       139 non-null    int64
 6   AdjClose  139 non-null    int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 7.7 KB
None

        Date   Open   High    Low  Close  Vol  AdjClose
0 2017-01-04  25500  25520  25410  25520   21     25520
1 2017-01-05  25520  25520  25200  25220   71     25220
2 2017-01-06  25150  25170  25150  25170    3     25170
3 2017-01-10  25170  25170  25010  25010   57     25010
4 2017-01-11  25040  25040  25040  25040    1     25040