### DM-04 Practice 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
pre = pd.Series([10/(10+15+25), 15/(10+15+25), 25/(10+15+25)])
pre.index=['O', 'H', 'T']
print(pre)

O    0.2
H    0.3
T    0.5
dtype: float64

**Ans. 1:  O: 0.2,  H: 0.3,  T: 0.5**

In [3]:
df = pd.DataFrame(
       [[1, 1, 1],
        [1, 1, 2],
        [1, 0, 0]]
)
df.index=['O', 'H', 'T']
df.columns=['USA', 'Democrats', 'mother']
display(df)

   USA  Democrats  mother
O    1          1       1
H    1          1       2
T    1          0       0

In [4]:
df += np.ones((3,3), dtype='int')
display(df)

   USA  Democrats  mother
O    2          2       2
H    2          2       3
T    2          1       1

In [5]:
df['tot'] = [5, 6, 7]
df['tot'] += 10
display(df)

   USA  Democrats  mother  tot
O    2          2       2   15
H    2          2       3   16
T    2          1       1   17

In [6]:
like = pd.Series({
    'O':(2/15) * (2/15) * (2/15),
    'H':(2/16) * (2/16) * (3/16),
    'T':(2/17) * (1/17) * (1/17),
})
print(like)

O    0.002370
H    0.002930
T    0.000407
dtype: float64

**Ans. 2:  O: 0.00237,  H: 0.00293,  T: 0.000407**

In [7]:
post = like * pre
print(post)

O    0.000474
H    0.000879
T    0.000204
dtype: float64

**Ans. 3: O: 0.000474,  H: 0.000879,  T: 0.0000204**

In [8]:
print(post/post.sum())

O    0.304573
H    0.564660
T    0.130767
dtype: float64

**Ans. 4: O: 0.305, H: 0.565, T: 0.131**

**Ans. 5: Ms. H**