### AI-04 quiz

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
csv_in = 'cornflakes.csv'

#### Read CSV file

In [7]:
df = pd.read_csv(csv_in, skiprows=1)

print(df.shape)
df.head()

(50, 1)

   Weight
0   201.7
1   199.5
2   200.0
3   200.4
4   199.2

In [8]:
alpha = 0.95
x = df['Weight']
n = df.shape[0]
ave = np.mean(x)
se = ss.sem(x)

lower, upper = ss.t.interval(alpha, loc=ave, scale=se, df=n-1)
print(lower, upper)

199.59035907634333 200.2176409236566