### AI-0102 Supplement  
#### groupby, crosstab, pivot_table

In [1]:
import numpy as np
import pandas as pd

##### (Make sample data)

In [2]:
df = pd.DataFrame(
  [['Tokyo', 'A', 1, 100],
   ['Chiba', 'B', 2, 200],
   ['Chiba', 'A', 3, 300],
   ['Tokyo', 'B', 4, 400],
   ['Chiba', 'A', 5, 500],
   ['Tokyo', 'B', 6, 600]],
   columns=['Pref', 'Type', 'N', 'NNN'])
display(df)

    Pref Type  N  NNN
0  Tokyo    A  1  100
1  Chiba    B  2  200
2  Chiba    A  3  300
3  Tokyo    B  4  400
4  Chiba    A  5  500
5  Tokyo    B  6  600

#### crosstab
- Basics: to know the "number of data"  
 - Number of data according to the values of two specified category columns  
 - ex. How many data corresponding to Pref=='Tokyo' and Type=='A'?
- 基本: データ数をカウントしたいときに用いる  
 - 2つのカテゴリ変数の列の値によって集計したときのデータ数
 - 例: Prefが 'Tokyo', Typeが 'A' に当てはまるデータはいくつ？

In [3]:
ct = pd.crosstab(df['Pref'], df['Type'])
display(ct)

Type   A  B
Pref
Chiba  2  1
Tokyo  1  2

#### groupby 　
- Basics: to know the aggregated value after grouping according to one column
 - Grouping by the value of a category column and aggregate other columns 
 - ex. Group data according to Pref column and calculate average of NN, NNN columns for each Pref  
- 基本: ある1つの列の値でグルーピングした上で集計
 - あるカテゴリ列の値によってデータをグループ化し、それぞれのグループで、残りの列を集計する  
 - 例. 都道府県ごとにデータをまとめ、それぞれの都道府県のN, NNN列の平均を求めたい

In [4]:
gb = df.groupby('Pref').mean()
display(gb)

              N         NNN
Pref
Chiba  3.333333  333.333333
Tokyo  3.666667  366.666667

#### pivot_table
- Basics: similar to groupby, but grouping is based on two columns
 - Grouping by the value of two category columns and aggregate numerical columns 
 - ex. Averate of NN, NNN columns according to Pref  
- 基本: groupbyと同様だが、2つの列の値でグルーピング。
 - 2つのカテゴリ列の値によって、ある別の列を集計する  
 - 例. 都道府県とTypeごとのNNN列の平均を求めたい

In [5]:
pt = df.pivot_table(index='Pref', columns='Type',
                    values='NNN', aggfunc=np.mean)
display(pt)

Type     A    B
Pref
Chiba  400  200
Tokyo  100  500

In [6]:
display(df[ df['Pref']=='Chiba'])

    Pref Type  N  NNN
1  Chiba    B  2  200
2  Chiba    A  3  300
4  Chiba    A  5  500