### DM-06 Quiz

#### Import libraries

In [10]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

#### Make DataFrame

In [11]:
df = pd.DataFrame(
   [
       ['Apple', 'red sweetness skin seeds'],
       ['Strawberry', 'red sweetness sourness sweetness'],
       ['Orange', 'orange skin sourness sweetness'],
   ])
df.columns = ['category', 'text']
print(df.shape)
print(df.info())
display(df.head())

(3, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  3 non-null      object
 1   text      3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
None

     category                              text
0       Apple          red sweetness skin seeds
1  Strawberry  red sweetness sourness sweetness
2      Orange    orange skin sourness sweetness

#### Obtain X_train (data) and y_train (true category)

In [12]:
X_train = df['text']
y_train = df['category']
print(X_train)
print(y_train)

0            red sweetness skin seeds
1    red sweetness sourness sweetness
2      orange skin sourness sweetness
Name: text, dtype: object
0         Apple
1    Strawberry
2        Orange
Name: category, dtype: object

#### Specify X_test and y_test

In [13]:
X_test = ['skin sweetness sourness']
print(X_test)

['skin sweetness sourness']

#### Collect words

In [14]:
vectorizer = CountVectorizer()
vectorizer.fit(X_train)
vocab = vectorizer.get_feature_names()
print('Vocabulary size:', len(vocab))
print(vocab)

Vocabulary size: 6
['orange', 'red', 'seeds', 'skin', 'sourness', 'sweetness']

#### Make BoW (word frequency vectors)

In [15]:
X_train_bow = vectorizer.transform(X_train)
X_test_bow = vectorizer.transform(X_test)
print('X_train_bow:')
print(repr(X_train_bow))
print('X_test_bow:')
print(repr(X_test_bow))

X_train_bow:
<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 11 stored elements in Compressed Sparse Row format>
X_test_bow:
<1x6 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

#### Display BoW

In [16]:
Xbow = pd.DataFrame(X_train_bow.toarray(), 
                    index=y_train, columns=vocab)
display(Xbow)

            orange  red  seeds  skin  sourness  sweetness
category
Apple            0    1      1     1         0          1
Strawberry       0    1      0     0         1          2
Orange           1    0      0     1         1          1

#### Training of naive Bayes classifier

In [17]:
model = MultinomialNB(alpha=1.0)
#model = MultinomialNB(alpha=1.0,class_prior=[1/3,1/3,1/3])
model.fit(X_train_bow, y_train)
print(model.classes_)
train_score = model.score(X_train_bow, y_train)
print('Train accuracy:', train_score)

['Apple' 'Orange' 'Strawberry']
Train accuracy: 1.0

#### Prediction using naive Bayes classifier after training

In [18]:
proba = model.predict_proba(X_test_bow)
results = pd.DataFrame(proba, columns=model.classes_)
print('Prediction:')
display(results)
print(model.predict(X_test_bow))

Prediction:

      Apple    Orange  Strawberry
0  0.222222  0.444444    0.333333

['Orange']

**Ans.  
Apple: 22.2%, Orange: 44.4%, Strawberry: 33.3%  
Orange**