In [2]:
import pandas as pd
import numpy as np

In [28]:
df1 = pd.read_csv('1393_2017-utf8.csv', skiprows=8)
df2 = pd.read_csv('2045_2017-utf8.csv', skiprows=8)

In [31]:
df = pd.merge(df1,df2, how='inner', on='Date')

In [33]:
df.head()

,Date,Open_x,High_x,Low_x,Close_x,Vol_x,AdjClose_x,Open_y,High_y,Low_y,Close_y,Vol_y,AdjClose_y
0,2017-01-04,25500,25520,25410,25520,21,25520,9340,9340,9270,9270,6,9270
1,2017-01-05,25520,25520,25200,25220,71,25220,9260,9340,9250,9260,22,9260
2,2017-01-06,25150,25170,25150,25170,3,25170,9300,9380,9300,9380,69,9380
3,2017-01-10,25170,25170,25010,25010,57,25010,9380,9390,9320,9370,465,9370
4,2017-01-11,25040,25040,25040,25040,1,25040,9400,9520,9400,9490,233,9490

In [36]:
round(df['High_x'].corr(df['High_y']),2)

0.9